<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgdcJTCebyIXu_vN5J5-NElk-8fAr-WMs</string>
	<key>GCM_SENDER_ID</key>
	<string>194907002616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clanTrack</string>
	<key>PROJECT_ID</key>
	<string>clan-track-cbb88</string>
	<key>STORAGE_BUCKET</key>
	<string>clan-track-cbb88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194907002616:ios:5b48544e875a635ac9cd0d</string>
</dict>
</plist>